node_modules/
dist/

*.log
cloudflared.exe
cloudflared.*.log
localtunnel.*.log
gh_*.zip
tools/

screen_video_frames/
video_frames/

public/monnqi-profile.jpg
public/visual-work-may09.mp4
public/vision-bg.mp4
public/image1.png
public/image2.svg
public/image3.jpeg
